#landing-page{
    background: url(./images/banner.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: fixed;
    border-top: 4px solid #5385c1;
}
/* li{
    display: inline-block;
} 
#landing-comtent h1{
    font-size: 50px;
}
.border{
    border-right: 1px solid #5385c1;
    border-left: 1px solid #5385c1;

} */
.nav-mobile{
    transition: all .5s ease-in;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
svg{
   top: 35px;
   z-index: 10;
   right: 30px;
}
.an{
    border:2px solid rgba(255, 255, 255, 0.25);
}
/* .mobile-nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
}
.mobile-nav ul{
    height: 100vh;
} */
@media(max-width:425px){
    .nav-mobile{
        display: block;
    }
}